body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 200px;
}

.logo div {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 60px 0px;
    margin: 0px;
}

.main {
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.man {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.subject p {
    text-align: center;
}

.subject img {
    width: 200px;
    height: auto;
}